@import "tailwindcss";
@plugin "daisyui";
@font-face {
  font-family: "Itim";
  src: url("./assets/fonts/itim-cyrillic.otf");
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.center-container {
  text-align: center;
}

.shake {
  animation: shake 0.4s ease-in-out;
}

.brand-header {
	font-family: 'Itim';
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-5px);
  }
  40%,
  80% {
    transform: translateX(5px);
  }
}
